*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body, input, button{
    font-family: 'Oswald', sans-serif;

}

#arrow_up{
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #615050;
    border: 3px solid #817070;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    border-radius: 50px;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 1;
    box-shadow: 0px 0px 7px #222222;
}

#arrow_up:hover{
    background-color: #817070;
    color: #FFFFFF;
    transition: all 0.2s;
}

/*----------------Header----------------*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 110px;
    margin: 0 80px;
}

.logo{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
    text-decoration: none;
}

.menu{
    width: 392px;
}

.menu_ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.menu_link{
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;    
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.menu_link:after {
    display: block;
    content: "";
    background-color: #000000;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu_link:hover:after,
.menu_link:focus:after {
    width: 100%;
}

/*----------------Main home----------------*/
#home{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    
    
    background-image: url(https://source.unsplash.com/vSuQJKZkt4U/1920x1080);
    background-position: center;
    background-size: cover;
}

.home_text{
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.home_line{
    margin: 7px;
    height: 10px;
    width: 80px;
    background-color: #817070;
}


/*----------------Main order----------------*/


#order{
    background-color: #817070;
    min-height: 100vh;
}

.order_title{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
}

.order_title p{
    margin: 40px;
}

.name_surname{
    display: flex;
    flex-wrap: 
        wrap;justify-content: center;
}

.name_surname input{
    width: 300px;
    height: 55px;
    background: #817070;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    text-align: center;
    margin: 32px;    
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.name_surname input::placeholder{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    opacity: 50%;
}

.order_menu{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_item{
    width: 350px;
    margin: 8px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px){
    #header{
        margin: 20px;
    }
    .logo{
        margin-bottom: 15px;
    }
    .menu_ul{
        list-style: square;
        list-style-position: inside;
        flex-direction: column;
    }
    .menu_li{
        margin: 10px;
    }
    .order_menu{
        display: block;
    }
    .menu_item{
        width: auto;
        margin: 8px;
    }
    
}

.menu_label{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.menu_checkbox{
    margin-right: 16px;
    width: 21px;
    height: 23px;
    filter: invert(50%) hue-rotate(10deg) brightness(1.5);
}

.menu_checkbox:checked{
        filter: invert(50%) hue-rotate(10deg) brightness(5);
}

.menu_input{
    background: #817070;
    border: 3px solid #FFFFFF;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 130px;
    height: 55px;
    color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.total{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.checkout{
    display: flex;
    justify-content: center;
}

.checkout button{
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    width: 190px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #817070;
    margin: 30px;    
}

.checkout button:hover {
	transition: all 0.2s;
}

.checkout button:active {
	background-color: #817070;
    color: #FFFFFF;
}

/*----------------Main story----------------*/
#story{
    margin: 60px 40px;
    width: 1440;
    min-height: 100vh;
}

.story_title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.story_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.story_card p {
    width: 597px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #000000;

}

.story_card img{
    margin: 60px 40px;
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 7px #222222;
}


/*----------------Main blog----------------*/
#blog{
    background-color: #EFEFEF;
    min-height: 100vh;
    padding: 60px;
}

.blog_title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0 5px 0;
}

.card{
    width: 325px;
    height: 434px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px 35px;
    box-shadow: 0px 0px 15px #999999;
}

.card_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

}

.card img{
    width: 325px;
    height: 216px;
    margin: 24px 0;
    
    object-fit: cover;
}

.card_text{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

/*----------------Main subscribe----------------*/

.subscribe_form{
    height: 337px;
    background-color: #817070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_form label{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscribe_form input{
    background: #817070;
    border: 3px solid #FFFFFF;
    width: 300px;
    height: 55px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 28px;
    color: #FFFFFF;
}

.subscribe_form input::placeholder{
    color: #FFFFFF;
}

.subscribe_form button{
    border: 0;
    background-color: #FFFFFF;
    width: 129px;
    height: 55px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #817070;
}

.subscribe_form button:hover{
    background-color: #817070;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    transition: all 0.2s;
}

/*----------------Footer----------------*/
.footer{
    background-color: #E5E5E5;
    padding:28px 0 14px 0;
}

.footer_copyright{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

