*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;

}

/*----------------Header----------------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 110px;
    margin: 0 80px;
}

.logo{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
    text-decoration: none;
}

.menu{
    width: 392px;
}

.menu_ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.menu_li{
    
}

.menu_link{
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #000000;
    text-decoration: none;
}

.menu_link:hover{
    text-decoration: underline;
}

/*----------------Main home----------------*/
#home{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 622px;
    
    
    background-image: url(https://source.unsplash.com/vSuQJKZkt4U/1920x1080);
    background-position: center;
    background-size: cover;
}

.home_text{
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.home_line{
    margin: 7px;
    height: 10px;
    width: 80px;
    background-color: #817070;
}

/*----------------Main story----------------*/
#story{
    margin: 60px 40px;
    width: 1440;
}

.story_title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.story_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.story_card p {
    width: 597px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #000000;

}

.story_card img{
    margin: 60px 40px;
    width: 300px;
    height: 400px;
    object-fit: cover;
}


/*----------------Main blog----------------*/
#blog{
    background-color: #EFEFEF;

    padding: 60px;
}

.blog_title{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0 5px 0;
}

.card{
    width: 325px;
    height: 434px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px 35px;
}

.card_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

}

.card img{
    width: 325px;
    height: 216px;
    margin: 24px 0;
    
    object-fit: cover;
}

.card_text{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

/*----------------Main subscribe----------------*/

.subscribe_form{
    height: 337px;
    background-color: #817070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_form label{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscribe_form input{
    background: #817070;
    border: 3px solid #FFFFFF;
    width: 300px;
    height: 55px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 28px;
    color: #FFFFFF;
}

.subscribe_form input::placeholder{
    color: #FFFFFF;
}

.subscribe_form button{
    border: 0;
    background-color: #FFFFFF;
    width: 129px;
    height: 55px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    color: #817070;
}

/*----------------Footer----------------*/
.footer{
    background-color: #E5E5E5;
    padding:28px 0 14px 0;
}

.footer_copyright{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

